USE [master]
GO
/****** Object:  Database [KiratDB]    Script Date: 2/12/2019 10:10:34 PM ******/
CREATE DATABASE [KiratDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KiratDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\KiratDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KiratDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\KiratDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KiratDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KiratDB]
GO
/****** Object:  Table [dbo].[CustomerCount]    Script Date: 2/12/2019 10:10:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerCount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[Cunt] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerTbl]    Script Date: 2/12/2019 10:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTbl](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](50) NULL,
	[CustomerPh] [varchar](50) NULL,
	[CustomerAddress] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieCount]    Script Date: 2/12/2019 10:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieCount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NULL,
	[Cunt] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalTbl]    Script Date: 2/12/2019 10:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalTbl](
	[RentalID] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NULL,
	[CustomerID] [int] NULL,
	[IssuedDate] [varchar](50) NULL,
	[ReturnDate] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoTbl]    Script Date: 2/12/2019 10:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoTbl](
	[VideoID] [int] IDENTITY(1,1) NOT NULL,
	[Ratting] [varchar](50) NULL,
	[Title] [varchar](50) NULL,
	[Year] [varchar](50) NULL,
	[Cost] [int] NULL,
	[Copies] [int] NULL,
	[Plot] [varchar](50) NULL,
	[Genre] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
